{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {% if label_helper is not empty %}
        {% set label_attr = label_attr|merge({class: 'has-helper', 'data-toggle': 'tooltip', 'data-placement': 'right', 'title': label_helper|trans}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_label %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {% set attr = attr|merge({class: 'widget-daterangepicker'|trim}) -%}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{%- block _invoice_lines_entry_catalog_widget -%}
    {{- block('catalog_line') -}}
{%- endblock -%}

{%- block _estimate_lines_entry_catalog_widget -%}
    {{- block('catalog_line') -}}
{%- endblock -%}

{%- block catalog_line -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('catalog_choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('catalog_choice_widget_options') -}}
    </select>
{%- endblock -%}

{%- block catalog_choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            {% set catalog = { "id": choice.data.id, "reference": choice.data.reference, "label": choice.data.label, "unit_price_tax_excluded": choice.data.unitPriceTaxExcluded, "type": choice.data.type.id } %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %} data-catalog="{{ catalog|json_encode|e('html_attr') }}">{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock catalog_choice_widget_options -%}