{% for action in actions %}
    {% if action == 'show' %}
    <a href="{{ path(route_prefix ~ 'show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Détail">
        <span class="fa fa-eye"></span>
    </a>
    {% elseif action == 'edit' %}
    <a href="{{ path(route_prefix ~ 'edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="Editer">
        <span class="fa fa-edit"></span>
    </a>
    {% endif %}
{% endfor %}