{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'show_profile' } %}
    {% block panel_title %}
        <h2>Edition profil</h2>
    {% endblock %}

    {% block panel_content %}
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock %}
{% endembed %}
