{% extends ':pages:show.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block panel_title %}
    <h2>Votre profil <small>{{ user }}</small></h2>
{% endblock %}

{% block panel_content %}

    <div class="x_content">
        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                    <img class="img-responsive avatar-view" src="{{ asset('bundles/app/images/user.png') }}" alt="Avatar" title="Change the avatar">
                </div>
             </div>
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>
            <ul class="list-unstyled user_data">
                <li>
                    <i class="fa fa-map-marker user-profile-icon"></i>
                    {{ user.city }}
                </li>
            </ul>
            <a href="{{ path('fos_user_profile_edit') }}"  class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="alert alert-danger">
                TODO: Profile => https://colorlib.com/polygon/gentelella/profile.html
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'profile.show.username'|trans }}</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.show.email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>siren</th>
                    <td>{{ user.siren }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Address1</th>
                    <td>{{ user.address1 }}</td>
                </tr>
                <tr>
                    <th>Postcode</th>
                    <td>{{ user.postCode }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ user.city }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ user.phone }}</td>
                </tr>
                </tbody>
            </table>
         </div>
     </div>
{% endblock %}
