{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Phone</th>
                <th>Siren</th>
                <th>Photo</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                <td>{{ profile.lastname }}</td>
                <td>{{ profile.firstname }}</td>
                <td>{{ profile.address1 }}</td>
                <td>{{ profile.address2 }}</td>
                <td>{{ profile.postCode }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.siren }}</td>
                <td>{{ profile.photo }}</td>
                <td>{{ profile.logo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profile_show', { 'id': profile.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
