{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>

    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
        <div class="profile_img">
            <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view"
                     src="{% if profile.photo is not null %}{{ asset('photo/' ~ profile.photo) }}{% else%}{{ asset('bundles/app/images/user.png') }}{% endif %}" alt="Avatar" title="Change the avatar" height="300" width="300" >
            </div>
        </div>
        <h3>{{ profile.firstname }} {{ profile.lastname }}</h3>
        <ul class="list-unstyled user_data">
            <li>
                <i class="fa fa-map-marker user-profile-icon"></i>
                {{ profile.city }}
            </li>
        </ul>
        <a href="{{ path('fos_user_change_password') }}"  class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Modifier mot de passe</a>
        <a href="{{ path('profile_edit',{'id':profile.id}) }}"  class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'profile.fields.lastname'|trans }}</th>
                    <td>{{ profile.lastname }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.firstname'|trans }}</th>
                    <td>{{ profile.firstname }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.address1'|trans }}</th>
                    <td>{{ profile.address1 }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.address2'|trans }}</th>
                    <td>{{ profile.address2 }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.postCode'|trans }}</th>
                    <td>{{ profile.postCode }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.city'|trans }}</th>
                    <td>{{ profile.city }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.phone'|trans }}</th>
                    <td>{{ profile.phone }}</td>
                </tr>
                <tr>
                    <th>{{ 'profile.fields.siren'|trans }}</th>
                    <td>{{ profile.siren }}</td>
                </tr>
                <tr>
                    <th>Logo</th>
                    <td> <img class="img-responsive avatar-view" height="100" width="100" src="{% if profile.logo is not null %} {{ asset('photo/' ~ profile.logo) }} {% endif %}" alt="" title="" ></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
