{% embed ':pages:new.html.twig' with { 'submitValue': 'Editer', 'list_path': 'estimate_index' } %}

    {% block panel_title %}
        <h2>{{ 'estimate.edit.panel_title'|trans }}</h2>
    {% endblock %}

    {% block panel_content %}
        {{ form_start(form) }}
        {% do form.lines.setRendered %}
        {{ form_widget(form) }}

        {% include ':catalog:lines.html.twig' %}

        <input type="submit" value="{{ submitValue }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}

    {% endblock %}
{% endembed %}