{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Gestion des devis <small> cette interface vous permet de gérer les devis</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Devis <small> vos derniers devis</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ 'estimate.fields.id'|trans }}</th>
                <th>{{ 'estimate.fields.object'|trans }}</th>
                <th>{{ 'estimate.fields.createDate'|trans }}</th>
                <th>{{ 'estimate.fields.validUntil'|trans }}</th>
                <th>{{ 'estimate.fields.paymentPeriod'|trans }}</th>
                <th>{{ 'estimate.fields.latePenalty'|trans }}</th>
                <th>{{ 'estimate.fields.status.label'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimate in estimates %}
            <tr>
                <td><a href="{{ path('estimate_show', { 'id': estimate.id }) }}">{{ estimate.id }}</a></td>
                <td>{{ estimate.object }}</td>
                <td>{% if estimate.createDate %}{{ estimate.createDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if estimate.validUntil %}{{ estimate.validUntil|date('Y-m-d') }}{% endif %}</td>
                <td>{{ estimate.paymentPeriod }}</td>
                <td>{{ estimate.latePenalty }}</td>
                <td>{% if estimate.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'estimate_', 'actions': ['show', 'edit'], 'entity': estimate } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estimate_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> Ajouter
    </a>
{% endblock %}