{% extends 'layout-pdf.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header">
            <div>
                <address>
                    <strong>{{ estimate.user.profile.lastname }} {{ estimate.user.profile.firstname }}</strong><br>
                    {{ estimate.user.profile.address1 }} <br>
                    {{ estimate.user.profile.postCode }} {{ estimate.user.profile.city }}<br>
                    <abbr> Téléphone:</abbr> {{ estimate.user.profile.phone }}<br>
                    {{ estimate.user.email }}
                </address>
            </div>

            <div class="pull-right">
                <h2>Devis n° {{ estimate.id }}</h2>
                Date: {{ estimate.createDate|date('Y-m-d')}}
             </div>

        </div>
    </div>
    <div class="row">
        <div class="panel panel-default panel-body ">
            <address>
                <strong>{{ estimate.customer.lastname }} {{ estimate.customer.firstname }}</strong><br>
                <strong>{{ estimate.customer.society }}</strong><br>
                {{ estimate.customer.address }}<br>
                {{ estimate.customer.postCode }} {{ estimate.customer.city }}<br>
                {{ estimate.customer.phone }}
            </address>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Désignation </th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for line in estimate.lines %}
            <tr>
                <td>{{ line.label }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceUnitary }} €</td>
                <td>{{ line.priceUnitary * line.quantity}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pull-right">
        <p>Prix total : <span>{{ estimate.priceTotal }} €</span></p>
    </div>

{% endblock %}