{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h1>{{ 'estimate.show.panel_title'|trans }} {{estimate.id}}
        <a href="{{ path('estimate_print',{'id':estimate.id}) }}" class="btn btn btn-primary pull-right">
            <span class="fa fa-print"></span> {{ 'estimate.print.add_print'|trans }}
        </a>
    </h1>

{% endblock %}

{% block panel_content %}
    <div class="form-group">
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'estimate.fields.customer'|trans }}</th>
                <td>{{ estimate.customer }}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.object'|trans }}</th>
                <td>{{ estimate.object }}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.createDate'|trans }}</th>
                <td>{% if estimate.createDate %}{{ estimate.createDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.validUntil'|trans }}</th>
                <td>{% if estimate.validUntil %}{{ estimate.validUntil|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.paymentPeriod'|trans }}</th>
                <td>{{ estimate.paymentPeriod }}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.latePenalty'|trans }}</th>
                <td>{{ estimate.latePenalty }}</td>
            </tr>
            <tr>
                <th>{{ 'estimate.fields.status.label'|trans }}</th>
                <td>
                    {% if estimate.status == 2%}
                        {{ 'estimate.fields.status.sent'|trans }}
                    {% elseif estimate.status == 1%}
                        {{ 'estimate.fields.status.accepted'|trans }}
                    {% else %}
                        {{ 'estimate.fields.status.refuse'|trans }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>{{ 'estimate.show.panel_title_line'|trans }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{'estimate.fields.label'|trans }}</th>
                <th>{{'estimate.fields.type'|trans}}</th>
                <th>{{'estimate.fields.quantity'|trans}}</th>
                <th>{{'estimate.fields.priceUnitary'|trans}}</th>
                <th>{{'estimate.show.label.total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for line in estimate.lines %}
            <tr>
                <td>
                    {{ line.label }}<br>
                    {{ line.description }}
                </td>
                <td>{{ line.type.label }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceUnitary }} €</td>
                <td>{{ line.priceUnitary * line.quantity}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row tile_count">
        <div class="pull-right tile_stats_count">
            <h2>{{ 'estimate.show.label.totalPrice'|trans }}</h2>
            <h1>{{ estimate.priceTotal }} €</h1>
        </div>
    </div>
    <h2>Envoyer par email</h2>
        {{ form_start(send_form) }}
        {{ form_widget(send_form) }}
        <input type="submit" value="Envoyer" class="btn btn-primary pull-right" />
    {{ form_end(send_form) }}
    <div class="form-group">
    {% if estimate.status and not estimate.isPaid %}
        <div class="x_panel">
            <div class="x_title">
               <h4>{{ 'estimate.show.label.billing'|trans }}</h4>
            </div>
            <div class="x_content">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                        <form class="form" action="{{ path('estimate_create_invoice', { 'id': estimate.id }) }}" method="post">
                            <button type="submit" class="btn btn-round btn-primary">{{ 'estimate.show.label.invoicePay'|trans }}e</button>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <form class="form" action="{{ path('estimate_create_invoice', { 'id': estimate.id }) }}" method="post">
                            <div class="form-group">
                                <label for="amount">
                                    <input type="radio" name="type" value="amount" id="amount" class="flat" checked>
                                    {{ 'estimate.show.label.amount'|trans }}
                                </label>
                                <label for="percentage">
                                    <input type="radio" name="type" value="percentage" id="percentage" class="flat" checked>
                                    {{ 'estimate.show.label.percentage'|trans }}
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="type_value" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-round btn-primary">{{ 'estimate.show.label.advancePayment'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('estimate_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> Revenir à la liste
    </a>
{% endblock %}
