<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Open company{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/app/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/maps/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet"/>

            <link href="{{  asset('bundles/app/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"  rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"  rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"  rel="stylesheet">

            <link href="{{ asset('bundles/app/css/custom.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/app.css') }}" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

        <!-- jQuery -->
        <script src="{{ asset('bundles/app/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('bundles/app/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                {% include 'menu.html.twig' %}
                {% include'top-nav.html.twig' %}
                <div class="right_col" role="main">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
                {% include 'footer.html.twig' %}
            </div>
        </div>
        {% block javascripts %}
            <!-- FastClick -->
            <script src="{{ asset('bundles/app/vendors/fastclick/lib/fastclick.js') }}"></script>
            <!-- NProgress -->
            <script src="{{ asset('bundles/app/vendors/nprogress/nprogress.js') }}"></script>
            <!-- gauge.js -->
            <script src="{{ asset('bundles/app/vendors/gauge.js/dist/gauge.min.js') }}"></script>
            <!-- bootstrap-progressbar -->
            <script src="{{ asset('bundles/app/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
            <!-- iCheck -->
            <script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js') }}"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="{{ asset('bundles/app/js/moment/moment.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/datepicker/daterangepicker.js') }}"></script>

            <!-- Animate.css -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">

            <!-- places -->
            <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>

            <!-- Custom Theme Scripts -->
            <script src="{{ asset('bundles/app/js/custom.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/common.js') }}"></script>
        {% endblock %}
    </body>
</html>
