<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ base_url }}{{ asset('bundles/app/vendors/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container">
         {% block body %}
         {% endblock %}
    </div>
</body>
</html>

