<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Open company{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/app/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/maps/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet"/>

        <link href="{{ asset('bundles/app/css/custom.min.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

    <!-- jQuery -->
    <script src="{{ asset('bundles/app/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/app/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% block javascripts %}
    <!-- FastClick -->
    <script src="{{ asset('bundles/app/vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('bundles/app/vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('bundles/app/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('bundles/app/vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('bundles/app/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('bundles/app/vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('bundles/app/js/flot/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/date.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/curvedLines.js') }}"></script>
    <!-- jVectorMap -->
    <script src="{{ asset('bundles/app/js/maps/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('bundles/app/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/datepicker/daterangepicker.js') }}"></script>

    <!-- Animate.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('bundles/app/js/custom.min.js') }}"></script>
{% endblock %}
</body>
</html>


