<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-eur"></i> <span>Open company</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="clearfix">
            <div class="profile">
                <div class="profile_pic">
                    <img src="{% if app.user.profile.photo is defined and app.user.profile.photo is not null %} {{ asset('photo/' ~ app.user.profile.photo) }} {% else %} {{ asset('images/user/unknown.png') }}{% endif %}" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>{{ app.user }}</h2>
                </div>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu-section">
                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
            </div>
        </div>
        <!-- /sidebar menu -->


    </div>
</div>
