<div class="top_nav">
    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="navbar-text">
                    <a href="#">You are impersonnating {{ app.user }}</a>
                    <a href="{{ path('user_index', {'_switch_user': '_exit'}) }}" class="btn btn-round btn-danger">
                        Exit impersonation
                    </a>
                </div>
            {% endif %}

            <form class="navbar-form" method="get" action="{{ path('app_search_search') }}">
                <div class="form-group top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{% if app.user.profile.photo is defined and app.user.profile.photo is not null %} {{ asset('photo/' ~ app.user.profile.photo) }} {% else %} {{ asset('images/user/unknown.png') }} {% endif %}" alt=" " >
                         {{ app.user }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        {% if app.user.profile.id is defined %}
                            <li><a href="{{ path('profile_show',{'id': app.user.profile.id }) }}"> Profile</a></li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out pull-right"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>