{% embed ':pages:edit.html.twig' with { 'submitValue': 'main.edit.edit_btn'|trans, 'list_path': 'taxtyperate_index' } %}
    {% block panel_title %}
        <h2>{{ 'tax_type_rate.edit.panel_title'|trans }}</h2>
    {% endblock %}
{% endembed %}