{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>{{ 'tax_type_rate.list.page_title.title'|trans }}<small> {{ 'tax_type_rate.list.page_title.subtitle'|trans }}</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>{{ 'tax_type_rate.list.panel_title.title'|trans }}<small>{{ 'tax_type_rate.list.panel_title.subtitle'|trans }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{ 'tax_type_rate.fields.id'|trans }}</th>
            <th>{{ 'tax_type_rate.fields.activity'|trans }}</th>
            <th>{{ 'tax_type_rate.fields.taxes'|trans }}</th>
            <th>{{ 'tax_type_rate.fields.social'|trans }}</th>
            <th>{{ 'main.list.actions.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for taxTypeRate in taxTypeRates %}
            <tr>
                <td><a href="{{ path('taxtyperate_show', { 'id': taxTypeRate.id }) }}">{{ taxTypeRate.id }}</a></td>
                <td>{{ taxTypeRate.activityType.label }}</td>
                <td>{{ taxTypeRate.taxes }} %</td>
                <td>{{ taxTypeRate.social }} %</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'taxtyperate_', 'actions': ['show', 'edit'], 'entity': taxTypeRate } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('taxtyperate_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> {{ 'main.list.add_button'|trans }}
    </a>
{% endblock %}