{% embed ':pages:new.html.twig' with { 'submitValue': 'main.new.new_btn'|trans, 'list_path': 'taxtyperate_index' } %}
    {% block panel_title %}
        <h2>{{ 'tax_type_rate.new.panel_title'|trans }}</h2>
    {% endblock %}
{% endembed %}