{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>{{ 'tax_type_rate.show.panel_title'|trans }}</h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'tax_type_rate.fields.id'|trans }}</th>
            <td>{{ taxTypeRate.id }}</td>
        </tr>
        <tr>
            <th>{{ 'tax_type_rate.fields.taxes'|trans }}</th>
            <td>{{ taxTypeRate.taxes }}</td>
        </tr>
        <tr>
            <th>{{ 'tax_type_rate.fields.social'|trans }}</th>
            <td>{{ taxTypeRate.social }}</td>
        </tr>
        <tr>
            <th>{{ 'tax_type_rate.fields.activity_type'|trans }}</th>
            <td>{{ taxTypeRate.activityType }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('taxtyperate_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{ 'main.show.back_btn'|trans }}
    </a>
{% endblock %}
