<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Open company{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/app/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/maps/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/app/css/homepage.css')}} " rel="stylesheet"/>

        <link href="{{ asset('bundles/app/css/custom.min.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

    <!-- jQuery -->
    <script src="{{ asset('bundles/app/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/app/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/homepage.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="homepage-hero-module ">
            <div class="video-container">
                <div class="title-container">
                    <h1> {{ 'index.panel_title.title'|trans }}</h1>
                    <a class="btn btn-round btn-default" href="{{ path('fos_user_security_login')}}">{{ 'index.btt_connect'|trans }}</a>
                    <div class="row">
                        <span id="button_scroll" class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
                <div class="filter"></div>
                <video autoplay loop class="fillWidth">
                    <source src="{{asset('bundles/app/video/video.mp4')}}" type="video/mp4" />
                </video>
            </div>
        </div>
        <div id="body_content" class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 ">
                    <div class="x_panel  fixed_height_320">
                       <h3> {{ 'index.panel_title.subtitle.invoice' |trans}}</h3>
                        <ul>
                            <li>{{ 'index.list.invoice_1'|trans }}</li>
                            <li>{{ 'index.list.invoice_2'|trans }}</li>
                            <li>{{ 'index.list.invoice_3'|trans }}</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="x_panel  fixed_height_320">
                        <h3> {{ 'index.panel_title.subtitle.manage'|trans}} </h3>
                        <ul>
                            <li>{{ 'index.list.manage_1'|trans }}</li>
                            <li>{{ 'index.list.manage_2'|trans }}</li>
                            <li>{{ 'index.list.manage_3'|trans }}</li>
                        </ul>

                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="x_panel  fixed_height_320">
                       <h3> {{ 'index.panel_title.subtitle.dedicate'|trans}}</h3>
                        <ul>
                            <li>{{ 'index.list.dedicate_1'|trans }}</li>
                            <li>{{ 'index.list.dedicate_2'|trans }}</li>
                            <li>{{ 'index.list.dedicate_3'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   </div>
    {% block javascripts %}
        <!-- FastClick -->
        <script src="{{ asset('bundles/app/vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ asset('bundles/app/vendors/nprogress/nprogress.js') }}"></script>
        <!-- gauge.js -->
        <script src="{{ asset('bundles/app/vendors/gauge.js/dist/gauge.min.js') }}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ asset('bundles/app/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ asset('bundles/app/vendors/iCheck/icheck.min.js') }}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('bundles/app/js/moment/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/datepicker/daterangepicker.js') }}"></script>

        <!-- Animate.css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('bundles/app/js/custom.min.js') }}"></script>
    {% endblock %}
</body>
</html>
