{% extends ':pages:list.html.twig' %}


{% block page_title %}
    <h3>Accueil</h3>
{% endblock %}

{% block panel_title %}

{% endblock %}


{% block panel_content %}
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Nombre total d'utilisateurs</span>
            <div class="count"> {{ numUser }} </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-file"></i> Nombre total de Factures</span>
            <div class="count green">{{ numInvoice }} </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-file-o"></i> Nombre total de Devis</span>
            <div class="count green">{{ numEstimate }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="x_panel tile fixed_height_320">
                <h2 class="x_title"><i class="fa fa-file"></i> Factures</h2>
                <p>Factures en retard: <b>{{ numPendingPayments }}</b></p>
                <p>Paiements en attente: <b>{{ numInvoiceDelay }} </b></p>
                <p>Total factures annee {{ data |date('Y') }}: <b>{{ numInvoiceYear }} €</b></p>
                <p>Total factures mois: <b>{{ numInvoiceMonth }} €</b> </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ">
            <div class="x_panel tile fixed_height_320">
                <h2 class="x_title"><i class="fa fa-file-o"></i> Devis</h2>
                <p>Total devis refuse: <b>{{ numEstimateRefuse }}</b></p>
                <p>Total devis Accepte: <b>{{ numEstimateAccepte }}</b></p>
                <p>Total devis envoyer: <b>{{ numEstimateEnvoyer }}</b></p>
            </div>
        </div>
    </div>

{% endblock %}