{% embed ':pages:edit.html.twig' with { 'submitValue':'Editer', 'list_path': 'activitytype_index' } %}
    {% block panel_title %}
        <h2>Edition d'une activité</h2>
    {% endblock %}
{% endembed %}