{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Gestion des activités <small> cette interface vous permet de gérer les activités</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Activités <small> vos dernières activités</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activityType in activityTypes %}
            <tr>
                <td><a href="{{ path('activitytype_show', { 'id': activityType.id }) }}">{{ activityType.id }}</a></td>
                <td>{{ activityType.label }}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'activitytype_', 'actions': ['show', 'edit'], 'entity': activityType } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activitytype_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> Ajouter
    </a>
{% endblock %}