{% embed ':pages:new.html.twig' with { 'submitValue':'Créer', 'list_path': 'activitytype_index' } %}
    {% block panel_title %}
        <h2>Création d'une activité</h2>
    {% endblock %}
{% endembed %}