{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>Détail de l'activité <small>{{ activityType.label }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ activityType.id }}</td>
        </tr>
        <tr>
            <th>Label</th>
            <td>{{ activityType.label }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('activitytype_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> Revenir à la liste
    </a>
{% endblock %}
