{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
<div id="register" class="animate form registration_form">
    <section class="login_content">

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register') ~ '#signup', 'attr': {'class': 'fos_user_registration_register'}}) }}
        <h1>Créer un compte</h1>
        {% block message %}{% endblock %}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-round btn-default btn-block" value="{{ 'registration.submit'|trans }}" style="margin-left: 0;">
        </div>
        <div class="clearfix"></div>

        <div class="separator">
            <p class="change_link">Déjà membre ?
                <a href="#signin" class="to_register">Se connecter</a>
            </p>

            <div class="clearfix"></div>
        </div>
        {{ form_end(form) }}
    </section>
</div>

{% if app.request.pathInfo != '/_fragment' %}
    {{ render(controller('FOSUserBundle:Security:login')) }}
{% endif %}
{% endblock %}