{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'catalog_index' } %}
    {% block panel_title %}
        <h2>Edition d'un produit / service</h2>
    {% endblock %}
{% endembed %}
