{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Gestion du catalogue <small> cette interface vous permet de créer des produits et services</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Catalogue <small> les produits et services de votre catalogue</small></h2>
{% endblock %}

{% block panel_content %}
    <table id="datatable" class="table table-striped table-bordered dt-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Reference</th>
                <th>Prix unitaire</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalog in catalogs %}
            <tr>
                <td><a href="{{ path('catalog_show', { 'id': catalog.id }) }}">{{ catalog.id }}</a></td>
                <td>{{ catalog.label }}</td>
                <td>{{ catalog.reference }}</td>
                <td>{{ catalog.unitPriceTaxExcluded }}</td>
                <td>{{ catalog.type }}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'catalog_', 'actions': ['show', 'edit'], 'entity': catalog } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('catalog_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> Ajouter
    </a>

{% endblock %}