<div class="form-group">
    <label class="control-label">{{ 'estimate.fields.lines' |trans }}</label>
    <div id="lines" data-name="{{ form.vars.name }}" data-prototype="{{ include(':catalog:line.html.twig', { 'line': form.lines.vars.prototype })|e('html_attr') }}">
        {% for index, line in form.lines %}
            {% include(':catalog:line.html.twig') %}
        {% endfor %}
        {{ form_rest(form) }}
    </div>
</div>

<hr/>
<div class="form-group">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <button type="button" class="btn btn-round btn-default" id="add-line-button">
            <span class="fa fa-plus"></span> {{ 'main.list.add_button_line' |trans}}
        </button>
    </div>
</div>

<script src="{{ asset('bundles/app/js/invoice/addLine.js') }}"></script>