<div class="form-group line" {% if index is defined %}data-index="{{ index }}"{% endif %}>
    <div class="col-md-11 col-sm-11 col-xs-12 panel panel-default panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.catalog) }}
                {{ form_widget(line.catalog) }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.reference) }}
                {{ form_widget(line.reference) }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.label) }}
                {{ form_widget(line.label) }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.priceUnitary) }}
                {{ form_widget(line.priceUnitary) }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.quantity) }}
                {{ form_widget(line.quantity) }}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                {{ form_label(line.type) }}
                {{ form_widget(line.type) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{ form_label(line.description) }}
                {{ form_widget(line.description) }}
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12 ">
        <button title="{{ 'estimate.fields.titleDelete'|trans }}" type="button" class="form-control-static btn btn-round btn-danger btn-delete-line">
            <span class="fa fa-trash"></span>
        </button>
    </div>

</div>