{% embed ':pages:new.html.twig' with { 'submitValue':'Créer', 'list_path': 'catalog_index' } %}
    {% block panel_title %}
        <h2>Création d'un produit / service</h2>
    {% endblock %}
{% endembed %}