{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>Détail du produit / service <small>{{ catalog.label }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'catalog.fields.id'|trans }}</th>
            <td>{{ catalog.id }}</td>
        </tr>
        <tr>
            <th>{{ 'catalog.fields.label'|trans }}</th>
            <td>{{ catalog.label }}</td>
        </tr>
        <tr>
            <th>{{ 'catalog.fields.reference'|trans }}</th>
            <td>{{ catalog.reference }}</td>
        </tr>
        <tr>
            <th>{{ 'catalog.fields.unitPriceTaxExcluded'|trans }}</th>
            <td>{{ catalog.unitPriceTaxExcluded }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('catalog_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{ 'main.show.back_btn'|trans }}
    </a>
{% endblock %}