{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'fos_user_security_login' } %}
    {% block panel_title %}
        <h2>Edition mot de passe</h2>
    {% endblock %}

    {% block panel_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock %}
{% endembed %}
