{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>{{ 'user.list.page_title.title'|trans }} <small> {{ 'user.list.page_title.subtitle'|trans }}</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>{{ 'user.list.panel_title.title'|trans }} <small> {{ 'user.list.panel_title.subtitle'|trans }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'user.fields.id'|trans }}</th>
            <th>{{ 'user.fields.email'|trans }}</th>
            <th>{{ 'user.fields.siren'|trans }}</th>
            <th>{{ 'user.fields.firstname'|trans }}</th>
            <th>{{ 'user.fields.lastname'|trans }}</th>
            <th>{{ 'user.fields.address1'|trans }}</th>
            <th>{{ 'user.fields.postCode'|trans }}</th>
            <th>{{ 'user.fields.city'|trans }}</th>
            <th>{{ 'user.fields.phone'|trans }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.email }}</td>
                <td>{% if user.profile %}{{ user.profile.siren }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.firstname }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.lastname }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.address1 }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.postCode }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.city }}{% endif %}</td>
                <td>{% if user.profile %}{{ user.profile.phone }}{% endif %}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'user_', 'actions': ['show', 'edit'], 'entity': user } %}
                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and not is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('fos_user_profile_show', { 'id': user.id, '_switch_user': user.username }) }}" title="Impersonate">
                            <span class="fa fa-user"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> {{ 'main.list.add_button'|trans  }}
    </a>
{% endblock %}