{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>{{ 'user.show.panel_title'|trans }} <small>{{ user.lastname }} {{ user.firstname }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'user.fields.id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.siren'|trans }}</th>
                <td>{{ user.siren }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.firstname'|trans }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.lastname'|trans }}</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.address1'|trans }}</th>
                <td>{{ user.address1 }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.postCode'|trans }}</th>
                <td>{{ user.postCode }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.city'|trans }}</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>{{ 'user.fields.phone'|trans }}</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('user_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{ 'main.show.back_btn'|trans }}Revenir à la liste
    </a>
{% endblock %}

