{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="animate form login_form">
    <section class="login_content">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h1>Se connecter</h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div>
                <input type="text" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required" value="{{ last_username }}">
            </div>
            <div>
                <input type="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required">
                <input type="checkbox" class="flat" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div>
                <button type="submit" name="_submit" class="btn btn-default submit">{{ 'security.login.submit'|trans }}</button>
                <a class="reset_pass" href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">Vous n'avez pas de compte ?
                    <a href="#signup" class="to_register">Créer un compte</a>
                </p>

                <div class="clearfix"></div>
            </div>
        </form>
    </section>
</div>

    {% if app.request.pathInfo != '/_fragment' %}
    {{ render(controller('FOSUserBundle:Registration:register')) }}
{% endif %}

{% endblock %}