{% trans_default_domain 'FOSUserBundle' %}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                <h1>Reset password</h1>
                <div>
                    {% if invalid_username is defined %}
                        <div class="alert alert-danger">
                            <strong>Error</strong> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                        </div>
                    {% endif %}
                    {% if resetting_check_email is defined %}
                        <div class="alert alert-success">
                            <strong>Email envoyé</strong> {{ resetting_check_email|trans({'%email%': email}) }}
                        </div>
                    {% endif %}
                    {% if resetting_password_already_requested is defined %}
                        <div class="alert alert-danger">
                            <strong>Error</strong> {{ resetting_password_already_requested|trans }}
                        </div>
                    {% endif %}
                    <label for="username" class="control-label"></label>
                    <input type="text" id="username" name="username" class="form-control" required="required" placeholder="{{ 'resetting.request.username'|trans }}">
                </div>
                <div>
                    <input type="submit" class="btn btn-round btn-block btn-default" value="{{ 'resetting.request.submit'|trans }}" style="margin-left: 0;">
                </div>
            </form>
        </section>
    </div>
</div>
