{% trans_default_domain 'FOSUserBundle' %}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <h1>Reset password </h1>
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-round btn-default btn-block" value="{{ 'resetting.reset.submit'|trans }}" style="margin-left: 0;">
            </div>
            {{ form_end(form) }}
        </section>
    </div>
</div>
