{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Accueil</h3>
{% endblock %}

{% block panel_title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Chart.js -->
    <script src="{{ asset('bundles/app/vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('bundles/app/vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('bundles/app/js/flot/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/date.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('bundles/app/js/flot/curvedLines.js') }}"></script>
    <!-- jVectorMap -->
    <script src="{{ asset('bundles/app/js/maps/jquery-jvectormap-2.0.3.min.js') }}"></script>

    <!-- morris.js -->
    <script src="{{ asset('bundles/app/vendors/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/morris.js/morris.min.js') }}"></script>

    <!-- ECharts -->
    <script src="{{ asset('bundles/app/vendors/echarts/dist/echarts.min.js') }}"></script>
    <script src="{{ asset('bundles/app/vendors/echarts/map/js/world.js') }}"></script>


{% endblock %}

{% block panel_content %}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <a id="btn-month" class="btn btn-success btn-sm" href="{{ path('home_month',{'month': month|date('d-m-Y') }) }}"> Mois {{ months}} </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <a class="btn btn-success btn-sm" href="{{ path('home_year',{'year': data|date('Y') }) }}"> Année {{ data|date('Y') }} </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <a class="btn btn-success btn-sm" href="{{ path('home_semester',{'date': data|date('d-m-Y') }) }}"> {{ semester.label }} {{ data|date('Y') }} </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
            {% if between_date_form is defined %}
            {{ form_start(between_date_form) }}
            {{ form_widget(between_date_form) }}
            <input type="submit" value="valider" class="buttonFinish buttonDisabled btn btn-default">
            {{ form_end(between_date_form) }}
            {% endif %}
        </div>
    </div>
    <div class="row tile_count">
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-eur"></i> {{ 'home.show_label.ca'|trans }} </span>
            <div class="count">{{ give.ca|number_format(2, '.', ',')}} €</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-eur"></i> {{ 'home.show_label.buy'|trans }}</span>
            <div class="count green">{{ give.buy|number_format(2, '.', ',') }} €</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-eur"></i> {{ 'home.show_label.be'|trans }} </span>
            <div class="count green">{{ give.be|number_format(2, '.', ',') }} €</div>
        </div>
    </div>
    <div class="row">
        <div class="x_content2">
            <div id="graph_line" style="width:100%; height:300px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="x_panel tile ">
                <h2 class="x_title">{{ 'home.graph.title.customer'|trans }}</h2>
                <div class="x_content">
                    <div id="chartCustomer" style="height:350px;"></div>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="x_panel tile ">
                <h2 class="x_title">{{ 'home.graph.title.catalog'|trans }}</h2>
                <div class="x_content">
                    <canvas id="chartCatalog" height="140" width="140"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="x_panel tile ">
                <h2 class="x_title"> {{ 'home.graph.title.buy'|trans }}</h2>
                <div class="x_content">
                    <canvas id="chartSupplier" height="140" width="140"></canvas>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {

                    });
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="x_content">
            <h2 class="x_title">{{ 'home.graph.title.compareYear'|trans }}</h2>
            <canvas id="mybarChart"></canvas>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="x_panel tile fixed_height_320">
            <h2 class="x_title"> {{ 'home.table.title'|trans }} {{ data | date('Y') }}</h2>
            <table class="countries_list">
                <tr>
                    <th>{{ 'home.table.label.type'|trans }}</th>
                    <th>{{ 'home.table.label.ca'|trans }}</th>
                    <th>{{ 'home.table.label.social'|trans }}</th>
                    <th>{{ 'home.table.label.taxa'|trans }}</th>
                    <th>{{ 'home.table.label.total' }}</th>
                </tr>
                {% for item in tableauImpots %}
                    <tr>
                        <td>{{ item.type.activityType.label }}</td>
                        <td>{{ item.ca }} €</td>
                        <td>{{ item.social|number_format(2, '.', ',') }}€</td>
                        <td>{{ item.taxes|number_format(2, '.', ',') }}€</td>
                        <td>{{ item.totalType|number_format(2, '.', ',') }}€</td>
                    </tr>
                {% endfor %}
            </table>
            <h2 class="pull-right">Total payer {{ totalTaxes |number_format(2, '.', ',') }}€</h2>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            // graph résumé dans le temps
            Morris.Line({
                element: 'graph_line',
                xkey: 'period',
                ykeys: ['ca','be','buy'],
                labels: ['Chiffre d affaire', 'Bénéfice', 'Achats enregistrés'],
                hideHover: 'auto',
                lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                data:{{ dataChartArea |raw }},
                fillOpacity: 1.0,
                resize: true
            });

            var theme = {
                color: {{ chartCustomer.backgroundColor|raw }},
                title: {
                    itemGap: 8,
                    textStyle: {
                        fontWeight: 'normal',
                        color: '#408829'
                    }
                },
                dataRange: {
                    color: {{ chartCustomer.backgroundColor|raw }},
                },
                toolbox: {
                    color: {{ chartCustomer.backgroundColor|raw }},
                },
                tooltip: {
                    backgroundColor: 'rgba(0,0,0,0.5)',
                    axisPointer: {
                        type: 'line',
                        lineStyle: {
                            color: '#408829',
                            type: 'dashed'
                        },
                        crossStyle: {
                            color: '#408829'
                        },
                        shadowStyle: {
                            color: 'rgba(200,200,200,0.3)'
                        }
                    }
                },
                dataZoom: {
                    dataBackgroundColor: '#eee',
                    fillerColor: 'rgba(64,136,41,0.2)',
                    handleColor: '#408829'
                },
                grid: {
                    borderWidth: 0
                },
                textStyle: {
                    fontFamily: 'Arial, Verdana, sans-serif'
                }

            };

            //Chiffre d'affaire par client
            var echartPie = echarts.init(document.getElementById('chartCustomer'), theme);
            echartPie.setOption({
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    x: 'center',
                    y: 'bottom'
                },
                toolbox: {
                    show: true,
                    feature: {
                        magicType: {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        saveAsImage: {
                            show: true,
                            title: "Save Image"
                        }
                    }
                },
                calculable: true,
                series: [{
                    name: '',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '48%'],
                    data: {{ chartCustomer.data|raw }}
                }]
            });

            //Chiffre d'affaire par catalog
            var ctxCat = document.getElementById("chartCatalog");

            var dataCatalog = {{ chartCatalog|raw }};

            var pieChart = new Chart(ctxCat, {
                data: dataCatalog,
                type: 'pie',
                otpions: {
                    legend: false
                }
            });

            //Achats par fournisseurs
            var ctxSupp = document.getElementById("chartSupplier");

            var dataSupplier = {{ chartSupplier|raw }};

            var pieChart = new Chart(ctxSupp, {
                data: dataSupplier,
                type: 'pie',
                otpions: {
                    legend: false
                }
            });

            // Bar chart
            var ctx = document.getElementById("mybarChart");


            var mybarChart = new Chart(ctx, {
                type: 'bar',
                data: {{ dataComparaisonYear|raw }},
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        });
    </script>
{% endblock %}

