{% embed ':pages:edit.html.twig' with { 'submitValue': 'main.edit.edit_btn'|trans, 'list_path': 'paymentmethod_index' } %}
    {% block panel_title %}
        <h2>{{ 'payment_method.edit.panel_title'|trans }}</h2>
    {% endblock %}
{% endembed %}