{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>{{ 'payment_method.list.page_title.title'|trans }}<small> {{ 'payment_method.list.page_title.subtitle'|trans }}</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>{{ 'payment_method.list.panel_title.title'|trans }}<small>{{ 'payment_method.list.panel_title.subtitle'|trans }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{ 'payment_method.fields.id'|trans }}</th>
            <th>{{ 'payment_method.fields.label'|trans }}</th>
            <th>{{ 'main.list.actions.label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr>
                <td><a href="{{ path('paymentmethod_show', { 'id': paymentMethod.id }) }}">{{ paymentMethod.id }}</a></td>
                <td>{{ paymentMethod.label }}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'paymentmethod_', 'actions': ['show', 'edit'], 'entity': paymentMethod } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paymentmethod_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> {{ 'main.list.add_button'|trans }}
    </a>
{% endblock %}