{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>{{ 'payment_method.show.panel_title'|trans }}</h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'payment_method.fields.id'|trans }}</th>
            <td>{{ paymentMethod.id }}</td>
        </tr>
        <tr>
            <th>{{ 'payment_method.fields.label'|trans }}</th>
            <td>{{ paymentMethod.label }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('paymentmethod_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{ 'main.show.back_btn'|trans }}
    </a>
{% endblock %}
