{% extends ':pages:new.html.twig' %}

{% block panel_bottom %}
    {{ parent() }}
    {% if delete_form is defined %}
    {{ form_start(delete_form) }}
    <button type="submit" value="Delete" class="btn btn-round btn-danger pull-right">
        <span class="fa fa-trash"></span> {{ 'main.edit.delete_btn'|trans }}
    </button>
    {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}