{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- Datatables -->
    <script src="{{ asset('bundles/app/js/common.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/pdfmake/build/vfs_fonts.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="clearfix">
        <div class="page-title">
            <div class="title_left">
                {% block page_title %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            {% block panel_title %}{% endblock %}
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            {% block panel_content %}{% endblock %}
        </div>
    </div>
{% endblock %}