{% extends 'base.html.twig' %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            {% block panel_title %}{% endblock %}
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            {% block panel_content %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ submitValue }}" class="btn btn-primary pull-right" />
            {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>

    {% block panel_bottom %}
        <a href="{{ path(list_path) }}" class="btn btn-round btn-primary pull-left">
            <span class="fa fa-caret-left"></span> {{ 'main.new.back_btn'|trans }}
        </a>
    {% endblock %}
{% endblock %}