{% extends 'base.html.twig' %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            {% block panel_title %}{% endblock %}
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            {% block panel_content %}{% endblock %}
        </div>
    </div>

    {% block panel_bottom %}{% endblock %}
{% endblock %}