{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Gestion des achats <small> cette interface vous permet de gérer les achats que vous faites</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Achats <small> vos derniers achats</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered ds-responsive">
        <thead>
            <tr>
                <th>{{ 'buy.fields.id'|trans }}</th>
                <th>{{ 'buy.fields.reference'|trans }}</th>
                <th>{{ 'buy.fields.label'|trans }}</th>
                <th>{{ 'buy.fields.date'|trans }}</th>
                <th>{{ 'buy.fields.amount'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for buy in buys %}
            <tr>
                <td><a href="{{ path('buy_show', { 'id': buy.id }) }}">{{ buy.id }}</a></td>
                <td>{{ buy.referenceBill }}</td>
                <td>{{ buy.label}}</td>
                <td>{% if buy.dateBill %}{{ buy.dateBill|date('Y-m-d') }}{% endif %}</td>
                <td>{{ buy.amount }} €</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'buy_', 'actions': ['show', 'edit'], 'entity': buy } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('buy_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> {{ 'main.list.add_button'|trans }}
    </a>
{% endblock %}