{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>Détail de l'achat <small>{{ buy.label }}</small></h2>
{% endblock %}

{% block panel_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="x_panel tile fixed_height_200">
                <div class="x_title"> Fournisseurs</div>
                <address>
                    <strong>{{ buy.supplier.lastname }} {{ buy.supplier.firstname }}</strong><br>
                    <strong>{{ buy.supplier.society }}</strong><br>
                    {{ buy.supplier.address }}<br>
                    {{ buy.supplier.postCode }} {{ buy.supplier.city }}<br>
                    <abbr> Téléphone:</abbr> {{ buy.supplier.phone }}<br>
                    {{ buy.supplier.email }}

                </address>
            </div>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ buy.id }}</td>
            </tr>
            <tr>
                <th>Reference de facture</th>
                <td>{{ buy.referenceBill }}</td>
            </tr>
            <tr>
                <th>Désignation</th>
                <td>{{ buy.label }}</td>
            </tr>
            <tr>
                <th>Date Facturation</th>
                <td>{% if buy.dateBill %}{{ buy.dateBill|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant total</th>
                <td>{{ buy.amount }} €</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('buy_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> Revenir à la liste
    </a>
{% endblock %}