{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'invoice_index' } %}
    {% block panel_title %}
        <h2>{{ 'invoice.edit.panel_title'|trans }}</h2>
    {% endblock %}

    {% block panel_content %}
        {{ form_start(form) }}
        {% do form.lines.setRendered %}
        {{ form_widget(form) }}

        <script type="text/javascript">
            var $invoiceDocuments = $('#invoice_documents');
            var prototype = $invoiceDocuments.data('prototype');
            $invoiceDocuments.data('index', $invoiceDocuments.find('> .form-group').length);

            $invoiceDocuments.find('> .form-group').each(function (index, elem) {
                $("#invoice_documents_"+index).hide();
                $(elem).find('> label').hide();
                $(elem).append('<span title="{{ 'invoice.edit.titleDelete'|trans }}" class="btn btn-round btn-danger delete-document-btn" id= "delete-document-'+index ++ +'"><i class="fa fa-file"></i> {{ 'invoice.edit.label_document'|trans }} '+index +' &times;</span>');

            });


            $invoiceDocuments.find('> .form-group').each(function (index, elem) {
                $("#delete-document-"+index).click(function() {
                    console.log("test");
                    $(this).parents('.form-group')[0].remove();
                });
            });
            $invoiceDocuments.after('<button type="button" class="btn btn-round btn-default add-document-btn"><i class="fa fa-upload"></i> {{ 'invoice.edit.add_document'|trans }}</button>');
            $('body').on('click', '.add-document-btn', function() {
                var index = $invoiceDocuments.data('index');

                var template = $invoiceDocuments.data('prototype');

                template = template.replace(/__name__label__/g, 'Document ' + (index + 1));
                template = template.replace(/__name__/g, index);

                var $newForm = $(template);

                $invoiceDocuments.data('index', ++index);

                $invoiceDocuments.append($newForm);
            });

        </script>

        {% include ':catalog:lines.html.twig' %}

        <input type="submit" value="{{ submitValue }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}


    {% endblock %}
{% endembed %}