{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Liste des factures <small></small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Factures <small></small></h2>
{% endblock %}

{% block panel_content %}
    <table id="datatable" class="table table-striped table-bordered dataTable no-footer">
        <thead>
            <tr>
                <th>Facture n°</th>
                <th>Date facture</th>
                <th>Date livraison</th>
                <th>Date limite paiement</th>
                <th>Date paiement réelle</th>
                <th>N°lines</th>
                <th>Total facture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr {% if invoice.paymentDeadline < date('now') and invoice.realDatePaiement is null %}class="danger"{% endif %}>
                    <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                    <td>{% if invoice.createDate %}{{ invoice.createDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if invoice.deliveryDate %}{{ invoice.deliveryDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if invoice.paymentDeadline %}{{ invoice.paymentDeadline|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if invoice.realDatePaiement %}{{ invoice.realDatePaiement|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ invoice.lines | length }}</td>
                    <td>{{ invoice.priceTotal}} €</td>
                    <td>
                        {% if invoice.realDatePaiement is null %}
                            {% include ':components:table-action.html.twig' with { 'route_prefix': 'invoice_', 'actions': ['show', 'edit'], 'entity': invoice } %}
                        {% else %}
                            {% include ':components:table-action.html.twig' with { 'route_prefix': 'invoice_', 'actions': ['show'], 'entity': invoice } %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> Ajouter
    </a>

{% endblock %}

