
{% embed ':pages:new.html.twig' with { 'submitValue':'Créer', 'list_path': 'invoice_index' } %}
    {% block panel_title %}
        <h2>{{ 'invoice.new.panel_title'|trans }} </h2>
    {% endblock %}

    {% block panel_content %}
        {{ form_start(form) }}
        {% do form.lines.setRendered %}
        {{ form_widget(form) }}

        <script type="text/javascript">
            var $invoiceCustomer = $('#invoice_customer');
            if($invoiceCustomer .val() == null){
                $invoiceCustomer.hide();
                $invoiceCustomer.before('<a href="{{ path('customer_new') }}"  class="btn btn-default" >Ajouter client</a>');
            }

            var $invoiceDocuments = $('#invoice_documents');
            var prototype = $invoiceDocuments.data('prototype');
            $invoiceDocuments.data('index', $invoiceDocuments.find('> .form-group').length);

            $invoiceDocuments.after('<button type="button" class="btn btn-round btn-default add-document-btn"><i class="fa fa-upload"></i> {{ 'invoice.edit.add_document'|trans }}</button>');
            $('body').on('click', '.add-document-btn', function() {
                var index = $invoiceDocuments.data('index');

                var template = $invoiceDocuments.data('prototype');

                template = template.replace(/__name__label__/g, 'Document ' + (index + 1));
                template = template.replace(/__name__/g, index);

                var $newForm = $(template);

                $invoiceDocuments.data('index', ++index);

                $invoiceDocuments.append($newForm);
            });
        </script>
        {% include ':catalog:lines.html.twig' %}
        <input type="submit" value="{{ submitValue }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}


    {% endblock %}

{% endembed %}