{% extends 'layout-pdf.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header">
            <div>
                {% if invoice.user.profile.logo is not null %}
                    <img src="{{ base_dir ~ asset('photo/' ~ invoice.user.profile.logo) }}" alt="" height="100" width="100">
                {% endif %}
                <address>
                    <strong>{{ invoice.user.profile.lastname }} {{ invoice.user.profile.firstname }}</strong><br>
                    {{ invoice.user.profile.address1 }} <br>
                    {{ invoice.user.profile.postCode }} {{ invoice.user.profile.city }}<br>
                    <abbr> Téléphone:</abbr> {{ invoice.user.profile.phone }}<br>
                    {{ invoice.user.email }}
                </address>
                <br>
                <b>{{ 'user.fields.siren'|trans }}</b> {{ invoice.user.profile.siren }}
            </div>

            <div class="pull-right">
                <h2>Facture n° {{ invoice.id }}</h2>
                Date: {{ invoice.createDate|date('Y-m-d')}}
             </div>

        </div>
    </div>
    <div class="row pull-right"  style="width: 400px">
        <div class="panel panel-default panel-body ">
            <address>
                <strong>{{ invoice.customer.lastname }} {{ invoice.customer.firstname }}</strong><br>
                <strong>{{ invoice.customer.society }}</strong><br>
                {{ invoice.customer.address }}<br>
                {{ invoice.customer.postCode }} {{ invoice.customer.city }}<br>
                {{ invoice.customer.phone }}
            </address>
            {% if(invoice.customer.siren is not null) %}
                <b>{{ 'user.fields.siren'|trans }}</b> {{ invoice.customer.siren }}
            {% endif %}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Désignation </th>
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for line in invoice.lines %}
            <tr>
                <td>{{ line.label }}<br> {{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceUnitary }} €</td>
                <td>{{ line.priceUnitary * line.quantity}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="pull-left" style="margin-top: 40px">
            <label>{{ 'invoice.fields.paymentMethod'|trans }}: </label>
            <span class="form-control-static"> {{ invoice.paymentMethod }} </span>
            <br>
            <label>{{ 'invoice.fields.deliveryDate'|trans }}: </label>
            <span class="form-control-static"> {{ invoice.deliveryDate|date('Y-m-d')}} </span>
            <br>
            <label>{{ 'invoice.fields.paymentDeadline'|trans }}: </label>
            <span class="form-control-static"> {{ invoice.paymentDeadline|date('Y-m-d')}} </span>
        </div>
        <div class="pull-right" style="width: 300px">
            <div class="panel panel-default panel-body ">
                <label>Total à payer : </label> <span style="font-size: 20px">{{ invoice.priceTotal }} €</span>
            </div>
            <div>
                TVA non applicable, art 293 B du CGI
            </div>
        </div>
    </div>


{% endblock %}