{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h1> {{ 'invoice.show.panel_title'|trans }} {{ invoice.id }}
        <a href="{{ path('invoice_print',{'id':invoice.id}) }}" class="btn btn btn-primary pull-right">
            <span class="fa fa-print"></span> {{ 'invoice.show.btn_export'|trans }}
        </a>
    </h1>
{% endblock %}
{% block panel_content %}

    <div class="widget_summary">
        <h2>{{ 'invoice.fields.object'|trans }} {{ invoice.object }} </h2>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="x_panel tile fixed_height_200">
                <h3>{{ invoice.customer.lastname }} {{ invoice.customer.firstname }}</h3><br>
                <strong><i class="fa fa-briefcase user-profile-icon"></i> {{ invoice.customer.society }}</strong><br>
                <i class="fa fa-map-marker user-profile-icon"></i> {{ invoice.customer.address }}<br>
                {{ invoice.customer.postCode }} {{ invoice.customer.city }}<br>
                <i class="fa fa-phone user-profile-icon"></i> {{ invoice.customer.phone }}
            </div>
        </div>
        <div> {% for doc in invoice.documents %} {% endfor%}</div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel tile">
                <h2> {{ 'invoice.show.label.info.title'|trans }}</h2>

                <table class="table">
                    <tbody>

                        <tr>
                            <th>{{ 'invoice.fields.deliveryDate'|trans }}</th>
                            <td>{% if invoice.deliveryDate %}{{ invoice.deliveryDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ 'invoice.fields.paymentDeadline'|trans }}</th>
                            <td>{% if invoice.paymentDeadline %}{{ invoice.paymentDeadline|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{{ 'invoice.fields.realDatePaiement'|trans }}</th>
                            {% if invoice.realDatePaiement is null %}
                                {% if date(invoice.paymentDeadline) < date()%}
                                    <td class="red">
                                        {{ days.days }} {{ 'invoice.show.label.info.delay'|trans }}
                                    </td>
                                {% else %}
                                    <td class="green">
                                        {{ days.days }} {{ 'invoice.show.label.info.deadline'|trans }}
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>{% if invoice.realDatePaiement %}{{ invoice.realDatePaiement|date('Y-m-d') }}{% endif %}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{{ 'invoice.fields.documents'|trans }}</th>
                            <td>
                                {% if invoice.documents is empty %}
                                    <i>{{ 'invoice.show.label.info.message'|trans }}</i>
                                {% endif %}
                                <ul>
                                {% for doc in invoice.documents %}
                                    <li>
                                        <a href="{{ asset('uploads/' ~ doc.name) }}">
                                            <i class="fa fa-file"></i> File {{ loop.index }}
                                        </a>
                                    </li>
                                {% endfor%}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2>{{ 'invoice.show.panel_title_line'|trans }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'invoice.show.table.label'|trans }} </th>
            <th>{{ 'invoice.show.table.type'|trans }}</th>
            <th>{{ 'invoice.show.table.quantity'|trans }}</th>
            <th>{{ 'invoice.show.table.price'|trans }}</th>
            <th>{{ 'invoice.show.table.total'|trans }}Total</th>
        </tr>
        </thead>
        <tbody>
        {% for line in invoice.lines %}
            <tr>
                <td>
                    {{ line.label }}<br>
                    {{ line.description }}
                </td>
                <td>
                    {% if line.type.label is not defined %}
                        {{ 'invoice.show.form.advance'|trans }}
                    {% else %}
                        {{ line.type.label }}
                    {% endif %}
                </td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.priceUnitary }} €</td>
                <td>{{ line.priceUnitary * line.quantity}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="pull-right">Prix total : <span>{{ invoice.priceTotal }}€</span></h2>

    <p> {{'invoice.show.form.paymentMethod'|trans }}: {{ invoice.paymentMethod }} </p>

    {% if invoice.realDatePaiement is null %}
        <h2>{{ 'invoice.show.form.rule'|trans }}</h2>
        {{ form_start(payment_form) }}
            {{ form_widget(payment_form) }}
            <input type="submit" value="{{ 'main.list.add_buy'|trans }}" class="btn btn-primary pull-right" />
        {{ form_end(payment_form) }}
    {% endif %}

    <h2>{{ 'invoice.show.form.sendEmail'|trans }}</h2>
    {{ form_start(send_form) }}
        {{ form_widget(send_form) }}
        <input type="submit" value="{{ 'main.list.add_send'|trans }}" class="btn btn-primary pull-right" />
    {{ form_end(send_form) }}
{% endblock %}
{% block panel_bottom %}
    <a href="{{ path('invoice_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{ 'main.show.back_btn'|trans }}
    </a>
{% endblock %}
