{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'customer_index' } %}
    {% block panel_title %}
        <h2>{{ 'customer.edit.panel_title'|trans }}</h2>
    {% endblock %}
{% endembed %}