{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>{{ 'customer.list.page_title.title'|trans }} <small> {{ 'customer.list.page_title.subtitle'|trans }}</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>{{ 'customer.list.panel_title.title'|trans }} <small> {{ 'customer.list.page_title.subtitle'|trans }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered dt-responsive">
        <thead>
        <tr>
            <th>{{ 'customer.fields.id' |trans }}</th>
            <th>{{ 'customer.fields.lastname' |trans}}</th>
            <th>{{ 'customer.fields.firstname' |trans}}</th>
            <th>{{ 'customer.fields.society' |trans}}</th>
            <th>{{ 'customer.fields.address' |trans}}</th>
            <th>{{ 'customer.fields.postCode' |trans}}</th>
            <th>{{ 'customer.fields.city' |trans}}</th>
            <th>{{ 'customer.fields.phone' |trans}}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.society }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.postCode }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.phone }}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'customer_', 'actions': ['show', 'edit'], 'entity': customer } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> {{ 'main.list.add_button'|trans }}
    </a>
{% endblock %}