{% embed ':pages:new.html.twig' with { 'submitValue':'Créer', 'list_path': 'customer_index' } %}
    {% block panel_title %}
        <h2>{{ 'customer.new.panel_title'|trans }}</h2>
    {% endblock %}
{% endembed %}