{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>{{ 'customer.show.panel_title'|trans }} <small>{{ customer }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'customer.fields.id'|trans }}</th>
            <td>{{ customer.id }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.lastname'|trans }}</th>
            <td>{{ customer.lastname }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.firstname'|trans }}</th>
            <td>{{ customer.firstname }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.society'|trans }}</th>
            <td>{{ customer.society }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.address'|trans }}</th>
            <td>{{ customer.address }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.address2'|trans }}</th>
            <td>{{ customer.address2 }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.postCode'|trans }}</th>
            <td>{{ customer.postCode }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.city'|trans }}</th>
            <td>{{ customer.city }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.phone'|trans }}</th>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <th>{{ 'customer.fields.siren'|trans }}</th>
            <td>{{ customer.siren }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('customer_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> {{'main.show.back_btn' |trans }}
    </a>
{% endblock %}
