{% extends '::base.html.twig' %}

{% block body %}
    <h2>Votre recherche: {{ q }}</h2>

    {% if results|length %}
        <ul>
            {% for result in results %}
                <li><a href="{{ result.href }}">{{ result.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        Pas de résultats
    {% endif %}
{% endblock %}