{% embed ':pages:edit.html.twig' with { 'submitValue': 'Editer', 'list_path': 'supplier_index' } %}
    {% block panel_title %}
        <h2>Edition d'un fournisseur</h2>
    {% endblock %}
{% endembed %}