{% extends ':pages:list.html.twig' %}

{% block page_title %}
    <h3>Gestion des fournisseurs <small> cette interface vous permet de gérer les fournisseurs</small></h3>
{% endblock %}

{% block panel_title %}
    <h2>Clients <small> vos derniers fournisseurs</small></h2>
{% endblock %}

{% block panel_content %}
    <table  id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Société</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Fax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td><a href="{{ path('supplier_show', { 'id': supplier.id }) }}">{{ supplier.id }}</a></td>
                <td>{{ supplier.lastname }}</td>
                <td>{{ supplier.firstname }}</td>
                <td>{{ supplier.society }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.postCode }}</td>
                <td>{{ supplier.city }}</td>
                <td>{{ supplier.country }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.fax }}</td>
                <td>
                    {% include ':components:table-action.html.twig' with { 'route_prefix': 'supplier_', 'actions': ['show', 'edit'], 'entity': supplier } %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supplier_new') }}" class="btn btn btn-primary pull-right">
        <span class="fa fa-plus"></span> Ajouter
    </a>
{% endblock %}