{% embed ':pages:new.html.twig' with { 'submitValue':'Créer', 'list_path': 'supplier_index' } %}
    {% block panel_title %}
        <h2>Création d'un fournisseur</h2>
    {% endblock %}
{% endembed %}