{% extends ':pages:show.html.twig' %}

{% block panel_title %}
    <h2>Détail du fournisseur <small>{{ supplier.society }}</small></h2>
{% endblock %}

{% block panel_content %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ supplier.id }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ supplier.lastname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ supplier.firstname }}</td>
        </tr>
        <tr>
            <th>Society</th>
            <td>{{ supplier.society }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ supplier.address }}</td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td>{{ supplier.postCode }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ supplier.city }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ supplier.country }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ supplier.email }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ supplier.phone }}</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ supplier.fax }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block panel_bottom %}
    <a href="{{ path('supplier_index') }}" class="btn btn-round btn-primary">
        <span class="fa fa-chevron-left"></span> Revenir à la liste
    </a>
{% endblock %}
